.is-hidden {
  display: none; }

.hidden {
  display: none !important; }

.justify {
  text-align: justify; }

.flat-button-primary {
  padding: 5px 10px;
  background-color: #E86E2F;
  color: #ffffff;
  border-radius: 2px;
  cursor: pointer;
  /*:hover, :focus {
  	&:background-color: darken($bg-color, 20%);
  }*/ }
  .flat-button-primary:hover, .flat-button-primary :focus {
    background-color: #204173; }

.flat-button-secondary {
  padding: 5px 10px;
  background-color: #1b9fb5;
  color: #ffffff;
  border-radius: 2px;
  cursor: pointer;
  /*:hover, :focus {
  	&:background-color: darken($bg-color, 20%);
  }*/
  /*&:hover, :focus {
  	background-color: #;
  }*/ }

.flat-button-disabled {
  padding: 5px 10px;
  background-color: #dfdfdf;
  color: #a5a5a5;
  border-radius: 2px;
  cursor: pointer;
  /*:hover, :focus {
  	&:background-color: darken($bg-color, 20%);
  }*/ }
  .flat-button-disabled:hover, .flat-button-disabled :focus {
    background-color: #d5d5d5; }

/* SPONSOR INFORMATION */
.sponsors-info {
  display: inline-flex; }

.sponsors-info > * {
  margin-right: 20px; }

.sponsor-logo {
  margin-right: 20px;
  width: 60px; }

.sponsor-logo > img {
  width: 100%; }

@media screen and (max-width: 768px) {
  .sponsors-info > * {
    display: block;
    margin-right: 0px; } }
/* HOME CAROUSEL */
#jumbotron-wrapper {
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  padding-top: 100px;
  /* to give space for transparent navigation bar*/
  padding-bottom: 50px;
  background-color: grey; }

.jumbotron-slide-1 {
  background-image: url(/assets/images/jumbotron-image-bridge.jpg); }

.jumbotron-slide-2 {
  background-image: url(/assets/images/jumbotron-image-african-children.jpg); }

.jumbotron-button {
  display: inline-block; }

@media screen and (max-width: 768px) {
  .jumbotron-button {
    float: none; }

  .jumbotron .sponsors-info {
    float: none; }

  .dynamic-jumbotron-button {
    margin-top: 20px; } }
.main-title {
  font-weight: 400; }

.main-title__2 {
  color: #1b9fb5;
  font-weight: 400; }

@media screen and (min-width: 768px) {
  .main-title__1 {
    display: block; }

  .main-title__2 {
    display: block; } }
/* buttons */
.button {
  padding: 8px 10px 10px 10px;
  text-decoration-style: none;
  color: #ffffff;
  border-radius: 3px; }

.button:hover {
  text-decoration-style: none; }

.button.button-border {
  border: 2px solid #ffffff;
  color: #ffffff; }

.center {
  margin-left: auto;
  margin-right: auto; }

.center-content > * {
  margin-left: auto;
  margin-right: auto; }

/* .inline-center
{
	display: inline-block;
	@include center;
} */
.inline-center {
  text-align: center; }

.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.left {
  float: left; }

.float-left {
  float: left; }

.right {
  float: right; }

.float-right {
  float: right; }

.center-text {
  text-align: center; }

.align-center {
  text-align: center; }

.overflow {
  overflow: auto; }

/* .space-vertical-small {
	margin-top: 15px;
	margin-bottom: 15px;
} */
.vertical-margin {
  margin-top: 20px;
  margin-bottom: 20px; }

.margin-top-0 {
  margin-top: 0px !important; }

.margin-bottom-0 {
  margin-bottom: 0px !important; }

.margin-top-10 {
  margin-top: 10px !important; }

.margin-bottom-10 {
  margin-bottom: 10px !important; }

.vertical-margin-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important; }

.margin-top-20 {
  margin-top: 20px !important; }

.margin-bottom-20 {
  margin-bottom: 20px !important; }

.vertical-margin-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important; }

.margin-top-30 {
  margin-top: 30px !important; }

.margin-bottom-30 {
  margin-bottom: 30px !important; }

.vertical-margin-30 {
  margin-top: 30px !important; }

.margin-top-40 {
  margin-top: 40px !important; }

.margin-bottom-40 {
  margin-bottom: 40px !important; }

.vertical-margin-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important; }

.margin-top-50 {
  margin-top: 50px !important; }

.margin-bottom-50 {
  margin-bottom: 50px !important; }

.vertical-margin-50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important; }

.padding-top-0 {
  padding-top: 0px !important; }

.padding-bottom-0 {
  padding-bottom: 0px !important; }

.padding-top-10 {
  padding-top: 10px !important; }

.padding-bottom-10 {
  padding-bottom: 10px !important; }

.padding-top-20 {
  padding-top: 20px !important; }

.padding-bottom-20 {
  padding-bottom: 20px !important; }

.padding-top-30 {
  padding-top: 30px !important; }

.padding-bottom-30 {
  padding-bottom: 30px !important; }

footer {
  margin-top: 56px;
  font-size: 12px;
  background-color: #191919; }

footer, footer a {
  color: #81807e; }

.footer__body {
  padding-top: 20px;
  padding-bottom: 20px; }

.footer__foot {
  background-color: #101011;
  height: 50px;
  line-height: 50px;
  vertical-align: middle; }

.social-media-icons {
  overflow: auto; }

.social-media-icons > * {
  width: 16px;
  height: 16px;
  float: left;
  margin-right: 10px; }

.footer__affiliate, .footer__connect {
  margin-bottom: 15px; }

footer a:hover {
  color: #1b9fb5 !important;
  opacity: 0.5; }

header {
  overflow: auto; }

.inline > * {
  float: left; }

.overflow-auto {
  overflow: auto; }

.page-container {
  margin-top: 100px;
  min-height: 400px; }

/* .home-container {
    margin-top: 0px;
} */
.flex-container {
  display: flex; }

.flex-container.inline-flex {
  display: inline-flex; }

/* DEFAULT NAVIGATION */
#nav {
  background-color: #E86E2F;
  color: #ffffff; }

nav .navbar-brand, nav .nav-link, nav .nav-item.active, nav .navbar-toggler, nav .navbar-toggler-icon {
  color: #ffffff !important; }

/* nav .navbar-brand {
    color: #ffffff !important;
}

nav .nav-link {
    color: #ffffff !important;
}

nav .nav-item.active {
    color: #ffffff !important;
}

nav .navbar-toggler {
    color: #ffffff !important;
}

nav .navbar-toggler-icon {
    color: #ffffff !important;
} */
.navbar-toggler {
  border-color: #ffffff !important;
  border: none !important; }

.navbar-toggler-icon {
  background-image: url(/assets/images/icons/menu.svg) !important; }

/* RESEARCH STEPS */
.research-steps {
  padding-top: 50px;
  padding-bottom: 50px; }

.research-step {
  margin-top: 30px; }

.research-steps__head {
  overflow: auto; }

.research-steps__head > h2 {
  line-height: 50px;
  text-align: center; }

.research-steps__body {
  text-align: center; }

.fancy-number {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 25px;
  color: #ffffff;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  margin-right: auto;
  margin-left: auto; }

.fancy-number__1 {
  background-color: #1b9fb5; }

.fancy-number__2 {
  background-color: grey; }

.fancy-number__3 {
  background-color: #E86E2F; }

.carousel-button-group {
  display: flex;
  margin-top: 50px; }

@media screen and (max-width: 768px) {
  .carousel-button-group > * {
    display: flex;
    margin-top: 50px; } }
/* #contact-form {
      width: 800px;
      margin: auto;
      margin-top: 100px;
  } */
#input-message {
  height: 200px; }

.contact-tile {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
                    /* 
box-shadow: 0px 3px 5px -2px grey;
border-bottom-left-radius: 24px;
border-top-left-radius: 24px; */ }

.contact-tile > *:first-child {
  margin-right: 20px;
  width: 48px;
  height: 48px; }

.contact-form-scale {
  margin-right: auto;
  margin-left: auto; }

@media screen and (min-width: 768px) {
  .contact-form-scale {
    width: 100%;
    max-width: 800px; } }

/*# sourceMappingURL=main.css.map */
