.center{
	@include center();
}
.center-content > * {
	@include center();
}
/* .inline-center
{
	display: inline-block;
	@include center;
} */
.inline-center {
	text-align: center;
}
.block-center
{
	display: block;
	@include center;
}
.relative{
	position: relative;
}
.absolute{
	position: absolute;
}
.left{
	float: left;
}
.float-left{
	float: left;
}
.right{
	float: right;
}
.float-right{
	float: right;
}
.center-text{
	text-align: center;
}
.align-center{
	text-align: center;
}

.overflow {
	overflow: auto;
}

/* .space-vertical-small {
	margin-top: 15px;
	margin-bottom: 15px;
} */