// margin
.vertical-margin
{
	margin-top: $vertical-margin;
	margin-bottom: $vertical-margin;
}
.margin-top-0
{
	margin-top: 0px !important;
}
.margin-bottom-0
{
	margin-bottom: 0px !important;
}
.margin-top-10
{
	margin-top: 10px !important;
}
.margin-bottom-10
{
	margin-bottom: 10px !important;
}
.vertical-margin-10
{
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}
.margin-top-20
{
	margin-top: 20px !important;
}
.margin-bottom-20
{
	margin-bottom: 20px !important;
}
.vertical-margin-20
{
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}
.margin-top-30
{
	margin-top: 30px !important;
}
.margin-bottom-30
{
	margin-bottom: 30px !important;
}
.vertical-margin-30
{
	margin-top: 30px !important;
}
.margin-top-40
{
	margin-top: 40px !important;
}
.margin-bottom-40
{
	margin-bottom: 40px !important;
}
.vertical-margin-40
{
	margin-top: 40px !important;
	margin-bottom: 40px !important;
}
.margin-top-50
{
	margin-top: 50px !important;
}
.margin-bottom-50
{
	margin-bottom: 50px !important;
}
.vertical-margin-50
{
	margin-top: 50px !important;
	margin-bottom: 50px !important;
}

// padding
.padding-top-0{
	padding-top: 0px !important;
}
.padding-bottom-0{
	padding-bottom: 0px !important;
}
.padding-top-10{
	padding-top: 10px !important;
}
.padding-bottom-10{
	padding-bottom: 10px !important;
}
.padding-top-20{
	padding-top: 20px !important;
}
.padding-bottom-20{
	padding-bottom: 20px !important;
}
.padding-top-30{
	padding-top: 30px !important;
}
.padding-bottom-30{
	padding-bottom: 30px !important;
}