.image-container {
    height: 200;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.product-list-containter {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
    /* .product-list-containter {
        flex-wrap: wrap;
    } */
}

@media screen and (max-width: 900px) {
    .product-list-containter {
        justify-content: space-around;
    }
}

.product-tile {
    /* flex: 1 12%; */
    flex-grow: 1;
    flex-basis: 50%;
}

@media screen and (min-width: 768px) {
    .product-tile {
        flex: 1 18%;
        max-width: 250px;
        min-width: 180px;
    }
}

@media screen and (min-width: 576px) {
    .product-tile {
        flex: 1 18%;
        max-width: 250px;
        min-width: 180px;
    }

    .product-name {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.product-tile, :hover {
    text-decoration: none !important;
}

.product-name {
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
/*         white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; */
}

.price {
    display: flex;
    align-items: center;
}

.price-current {
    margin-right: 10px;
    font-size: 0.9em;
}

.price-old {
    text-decoration: line-through;
    font-size: 0.8em;
}

.price-old {
    text-decoration: line-through;
    font-size: 0.8em;
}