/* #contact-form {
      width: 800px;
      margin: auto;
      margin-top: 100px;
  } */

  #input-message {
      height: 200px;
  }

  .contact-tile {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;/* 
    box-shadow: 0px 3px 5px -2px grey;
    border-bottom-left-radius: 24px;
    border-top-left-radius: 24px; */
  }

  .contact-tile > *:first-child {
    margin-right: 20px;
    width: 48px; 
    height: 48px;
  }

  .contact-form-scale {
    margin-right: auto;
    margin-left: auto;
  }

  @media screen and (min-width: 768px) {
    .contact-form-scale {
      width: 100%;
      max-width: 800px;
    }
  }