/* RESEARCH STEPS */

.research-steps {
    padding-top: 50px;
    padding-bottom: 50px;
}

.research-step {
    margin-top: 30px;
}

.research-steps__head {
    overflow: auto;
}

.research-steps__head > h2 {
    line-height: 50px;
    text-align: center;
}

.research-steps__body {
    text-align: center;
}

.fancy-number {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    color: #ffffff;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    margin-right: auto;
    margin-left: auto;
}

.fancy-number__1 {
    background-color: $secondary-color;
}

.fancy-number__2 {
    background-color: $tertiary-color;
}

.fancy-number__3 {
    background-color: $primary-color;
}

.carousel-button-group {
    display: flex;
    // overflow: auto; 
    margin-top: 50px;
}

@media screen and (max-width: 768px) {
    .carousel-button-group > * {
        // direction: c
        display: flex;
        // overflow: auto; 
        margin-top: 50px;
    }
}
















.home-container {
    margin-top: 56px;
}
.hero-image-container {
    /* display: block; */
}

.hero-image {
    background-image: url('/assets/images/hero-image.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 160px;
}

@media screen and (min-width: 400px) {
    .hero-image {
        height: 200px
    }
}

@media screen and (min-width: 600px) {
    .hero-image {
        height: 220px
    }
}

@media screen and (min-width: 768px) {
    .hero-image {
        height: 300px
    }
}

.product-link {
    height: 48px;
    background-color: #232f3e; /* Consider setting this hash to secondary color */
    color: white;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
}

.product-link:hover, .product-link:focus {
    color: white;
    text-decoration: none;
}

.product-link > span {
    margin-right: 16px;
}

.product-slide {
    margin-top: 20px;
}

.product-slide-container {
    display: flex;
}

/* REPEATED */

.image-container {
    height: 200;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.product-tile {
    flex-grow: 1;
    flex-basis: 50%;
}

.carousel-side-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 30px;
}

.carousel-side-text-container > .carousel {
    /* flex-grow: 2; */
    width: 100%
}

@media screen and (min-width: 768px) {
    .carousel-side-text-container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .carousel-side-text-container > .carousel {
        /* flex-grow: 2; */
        flex-basis: 100%
    }
}

.carousel-side-text-container > .text {
    /* flex-grow: 1; */
    flex-basis: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .carousel-side-text-container > .text {
        padding-left: 30px;
    }
}

.carousel-side-text-container .icon {
    width: 60px;
}

@media screen and (min-width: 768px) {
    .carousel-side-text-container .icon {
        width: 100px;
    }
}

.h-spacer-home {
    margin-right: 8px;
    margin-left: 8px;
}

/* @media screen and (min-width: 768px) {
    .h-spacer-home {
        margin-right: 32px;
        margin-left: 32px;
    }
}

@media screen and (min-width: 900px) {
    .h-spacer-home {
        margin-right: 32px;
        margin-left: 32px;
        max-width: 900px;
    }
} */

.about-and-contact {
    margin-right: auto;
    margin-left: auto;
}

.about, .contact {
    position: relative;
    /* margin-top: 30px;
    margin-bottom: 30px; */
    margin: auto;
    width: 85%;
}

.icon-container {
    height: 60px;
    display: relative;
}

.icon-container > .icon {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    position: absolute;
    background-color: #37A0AC;
    z-index: 2;
    margin-left: -30px;
    top: 30px;
    left: 50%;
    border: 7px solid white;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact .icon-container > .icon {
    background-color: #E86E2F;
}

.text-container {
    padding-top: 25px;
    background-color: rgba(55, 160, 172, 0.05);
    padding-top: 40px;
    top: 30px;
    padding: 46px 16px 16px 16px;
    border-radius: 5px;
    color: #37A0AC;
    text-align: center;
}

.text-container > .btn {
    color: #37A0AC;
    border-color: #37A0AC;
    margin-top: 20px;
}

.text-container > .btn:focus {
    background-color: transparent !important;
}

.contact .text-container > .btn {
    color: #E86E2F;
    border-color: #E86E2F;
}

.contact .text-container {
    background-color: rgba(232, 110, 47, 0.05);
    color: #E86E2F;
}
