.is-hidden {
  display: none; }

.hidden {
  display: none !important; }

.justify {
  text-align: justify; }

.flat-button-primary {
  padding: 5px 10px;
  background-color: #E86E2F;
  color: #ffffff;
  border-radius: 2px;
  cursor: pointer;
  /*:hover, :focus {
  	&:background-color: darken($bg-color, 20%);
  }*/ }
  .flat-button-primary:hover, .flat-button-primary :focus {
    background-color: #204173; }

.flat-button-secondary {
  padding: 5px 10px;
  background-color: #1b9fb5;
  color: #ffffff;
  border-radius: 2px;
  cursor: pointer;
  /*:hover, :focus {
  	&:background-color: darken($bg-color, 20%);
  }*/
  /*&:hover, :focus {
  	background-color: #;
  }*/ }

.flat-button-disabled {
  padding: 5px 10px;
  background-color: #dfdfdf;
  color: #a5a5a5;
  border-radius: 2px;
  cursor: pointer;
  /*:hover, :focus {
  	&:background-color: darken($bg-color, 20%);
  }*/ }
  .flat-button-disabled:hover, .flat-button-disabled :focus {
    background-color: #d5d5d5; }

/* SPONSOR INFORMATION */
.sponsors-info {
  display: inline-flex; }

.sponsors-info > * {
  margin-right: 20px; }

.sponsor-logo {
  margin-right: 20px;
  width: 60px; }

.sponsor-logo > img {
  width: 100%; }

@media screen and (max-width: 768px) {
  .sponsors-info > * {
    display: block;
    margin-right: 0px; } }
/* HOME CAROUSEL */
#jumbotron-wrapper {
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  padding-top: 100px;
  /* to give space for transparent navigation bar*/
  padding-bottom: 50px;
  background-color: grey; }

.jumbotron-slide-1 {
  background-image: url(/assets/images/jumbotron-image-bridge.jpg); }

.jumbotron-slide-2 {
  background-image: url(/assets/images/jumbotron-image-african-children.jpg); }

.jumbotron-button {
  display: inline-block; }

@media screen and (max-width: 768px) {
  .jumbotron-button {
    float: none; }

  .jumbotron .sponsors-info {
    float: none; }

  .dynamic-jumbotron-button {
    margin-top: 20px; } }
.main-title {
  font-weight: 400; }

.main-title__2 {
  color: #1b9fb5;
  font-weight: 400; }

@media screen and (min-width: 768px) {
  .main-title__1 {
    display: block; }

  .main-title__2 {
    display: block; } }
/* buttons */
.button {
  padding: 8px 10px 10px 10px;
  text-decoration-style: none;
  color: #ffffff;
  border-radius: 3px; }

.button:hover {
  text-decoration-style: none; }

.button.button-border {
  border: 2px solid #ffffff;
  color: #ffffff; }

.center {
  margin-left: auto;
  margin-right: auto; }

.center-content > * {
  margin-left: auto;
  margin-right: auto; }

/* .inline-center
{
	display: inline-block;
	@include center;
} */
.inline-center {
  text-align: center; }

.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.left {
  float: left; }

.float-left {
  float: left; }

.right {
  float: right; }

.float-right {
  float: right; }

.center-text {
  text-align: center; }

.align-center {
  text-align: center; }

.overflow {
  overflow: auto; }

/* .space-vertical-small {
	margin-top: 15px;
	margin-bottom: 15px;
} */
.vertical-margin {
  margin-top: 20px;
  margin-bottom: 20px; }

.margin-top-0 {
  margin-top: 0px !important; }

.margin-bottom-0 {
  margin-bottom: 0px !important; }

.margin-top-10 {
  margin-top: 10px !important; }

.margin-bottom-10 {
  margin-bottom: 10px !important; }

.vertical-margin-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important; }

.margin-top-20 {
  margin-top: 20px !important; }

.margin-bottom-20 {
  margin-bottom: 20px !important; }

.vertical-margin-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important; }

.margin-top-30 {
  margin-top: 30px !important; }

.margin-bottom-30 {
  margin-bottom: 30px !important; }

.vertical-margin-30 {
  margin-top: 30px !important; }

.margin-top-40 {
  margin-top: 40px !important; }

.margin-bottom-40 {
  margin-bottom: 40px !important; }

.vertical-margin-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important; }

.margin-top-50 {
  margin-top: 50px !important; }

.margin-bottom-50 {
  margin-bottom: 50px !important; }

.vertical-margin-50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important; }

.padding-top-0 {
  padding-top: 0px !important; }

.padding-bottom-0 {
  padding-bottom: 0px !important; }

.padding-top-10 {
  padding-top: 10px !important; }

.padding-bottom-10 {
  padding-bottom: 10px !important; }

.padding-top-20 {
  padding-top: 20px !important; }

.padding-bottom-20 {
  padding-bottom: 20px !important; }

.padding-top-30 {
  padding-top: 30px !important; }

.padding-bottom-30 {
  padding-bottom: 30px !important; }

footer {
  margin-top: 56px;
  font-size: 12px;
  background-color: #191919; }

footer, footer a {
  color: #81807e; }

.footer__body {
  padding-top: 20px;
  padding-bottom: 20px; }

.footer__foot {
  background-color: #101011;
  height: 50px;
  line-height: 50px;
  vertical-align: middle; }

.social-media-icons {
  overflow: auto; }

.social-media-icons > * {
  width: 16px;
  height: 16px;
  float: left;
  margin-right: 10px; }

.footer__affiliate, .footer__connect {
  margin-bottom: 15px; }

footer a:hover {
  color: #1b9fb5 !important;
  opacity: 0.5; }

header {
  overflow: auto; }

.inline > * {
  float: left; }

.overflow-auto {
  overflow: auto; }

.page-container {
  margin-top: 100px;
  min-height: 400px; }

/* .home-container {
    margin-top: 0px;
} */
.flex-container {
  display: flex; }

.flex-container.inline-flex {
  display: inline-flex; }

/* DEFAULT NAVIGATION */
#nav {
  background-color: #E86E2F;
  color: #ffffff; }

nav .navbar-brand, nav .nav-link, nav .nav-item.active, nav .navbar-toggler, nav .navbar-toggler-icon {
  color: #ffffff !important; }

/* nav .navbar-brand {
    color: #ffffff !important;
}

nav .nav-link {
    color: #ffffff !important;
}

nav .nav-item.active {
    color: #ffffff !important;
}

nav .navbar-toggler {
    color: #ffffff !important;
}

nav .navbar-toggler-icon {
    color: #ffffff !important;
} */
.navbar-toggler {
  border-color: #ffffff !important;
  border: none !important; }

.navbar-toggler-icon {
  background-image: url(/assets/images/icons/menu.svg) !important; }

/* #contact-form {
      width: 800px;
      margin: auto;
      margin-top: 100px;
  } */
#input-message {
  height: 200px; }

.contact-tile {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
                    /* 
box-shadow: 0px 3px 5px -2px grey;
border-bottom-left-radius: 24px;
border-top-left-radius: 24px; */ }

.contact-tile > *:first-child {
  margin-right: 20px;
  width: 48px;
  height: 48px; }

.contact-form-scale {
  margin-right: auto;
  margin-left: auto; }

@media screen and (min-width: 768px) {
  .contact-form-scale {
    width: 100%;
    max-width: 800px; } }
.object-overveiw-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px; }

.object-overview {
  width: 150px; }

.object-overview a {
  text-decoration: none; }

.object-overview .figure {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  background-color: #E86E2F;
  display: flex;
  align-items: center;
  justify-content: center; }

.object-overview .figure:hover {
  box-shadow: 0px 3px 12px #a0a0a0; }

.object-overview.product .figure {
  background-color: #18d88a; }

.object-overview .figure > div {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  background-color: #CF5516;
  display: flex;
  align-items: center;
  justify-content: center; }

.object-overview.product .figure > div {
  background-color: #14b573; }

.object-overview > .detail {
  display: flex;
  flex-direction: column;
  align-items: center; }

.object-overview .figure > div > i {
  color: white;
  font-weight: bold;
  font-size: 48px; }

.dashboard-container {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto; }

#product-category-container {
  display: flex; }

#product-list-container {
  margin-left: 10px;
  margin-right: 10px; }

#product {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%; }

@media screen and (max-width: 768px) {
  #category {
    display: none; } }
#category {
  padding-left: 10px;
  padding-right: 10px;
  width: 300px;
  flex-shrink: 0;
  /* border: 1px solid black; */ }

#fab {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: #E86E2F;
  color: white;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 16px;
  right: 16px;
  box-shadow: 0px 2px 3px 1px #747474;
  cursor: pointer;
  z-index: 10001; }

@media screen and (min-width: 768px) {
  #fab {
    display: none; } }
#floating-filter {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: white;
  display: block;
  z-index: 10000;
  padding-left: 16px;
  padding-right: 16px;
  overflow: auto;
  overflow: auto;
  padding-top: 20px; }

@media screen and (min-width: 768px) {
  .product-detail-container > div {
    /* background-color: white;
    align-self: center;
    width: 100%; */
    display: flex;
    padding: 30px 30px;
    min-height: 450px;
    /* max-height: 600px; */
    overflow: auto; }

  .image-container {
    width: 200px;
    margin-right: 30px;
    flex-shrink: 0; } }
.image-container > .image {
  width: 100%; }

.product-detail-container {
  margin-top: 100px; }

.price-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px; }

.price-container > .product-price {
  margin-right: 10px; }

.price-container > .product-price-old {
  text-decoration: line-through; }

.product-category-name {
  background-color: brown;
  color: white;
  border-radius: 15px;
  width: fit-content;
  font-size: 12px;
  padding: 2px 10px 3px 10px;
  display: block; }

.product-category-name:hover {
  color: white;
  text-decoration: none; }

.product-category-name:focus {
  box-shadow: 0px 1px 6px grey; }

@media screen and (min-width: 768px) {
  .custom-field-body {
    max-height: 150px;
    overflow: auto; } }
.product-name {
  margin-top: 20px;
  margin-bottom: 20px; }

.custom-field {
  border: 1px solid grey;
  padding: 15px;
  margin: 15px 0; }

.custom-field-header {
  display: flex;
  justify-content: space-between; }

.product-add-container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; }

/*# sourceMappingURL=main.css.map */
